ALARA - Twilio Transcription + Report.json
{
  "name": "ALARA - Twilio Transcription + Report",
  "nodes": [
    {
      "parameters": {
        "resource": "call",
        "from": "={{ $json.twilio_from || $json.fromNumber }}",
        "to": "={{ $json.client?.phone || $json.toNumber }}",
        "message": "={{ $json.twilio_twiml_url || ($json.backend_url ? $json.backend_url + '/api/webhooks/twilio/twiml/' + $json.inspection_request_id : $json.twimlUrl) }}",
        "options": {}
      },
      "id": "eb441795-67fe-44ce-a626-ac90a374e440",
      "name": "Twilio - Create Call1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1792,
        560
      ],
      "credentials": {
        "twilioApi": {
          "id": "sRdV2NHqHs169Xwh",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/call/transcription",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d2f9dd42-9ff3-445f-91df-b37c12f7b120",
      "name": "Webhook - Call Transcription1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1568,
        896
      ],
      "webhookId": "6467a50d-9e0a-4900-b002-84e41adc3d64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "transcription",
              "value": "={{ $json.TranscriptionText || $json.transcription }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "requestId",
              "value": "={{ $json.query?.inspection_request_id || $json.inspection_request_id || $json.requestId }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "callSid",
              "value": "={{ $json.CallSid || $json.callSid }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "backend_url",
              "value": "={{ $json.query?.backend_url || $json.backend_url || $env.BACKEND_URL || 'http://localhost:5000' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "586bca92-d428-42fe-a009-c5ee1640eeba",
      "name": "Set Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcription }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a structured data extractor. Convert the transcript into the inspection report JSON schema used by the ALARA backend. Output JSON only. Use keys: outcome, summary, additional_comments, sections[]. Each section has code, title, order, fields[]. Each field has key, label, type, value. If a value is not present, return an empty string."
        }
      },
      "id": "0389c4ed-0a2f-48b8-a18b-05a2d8ba8f72",
      "name": "AI Agent - Extract Report1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        896
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "8200bf03-c44e-46d2-b70c-b3a86ba46e8c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2112,
        1216
      ],
      "credentials": {
        "openAiApi": {
          "id": "1R1it0eEi8fboD41",
          "name": "OpenAi Innexia"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"outcome\": {\"type\": \"string\"},\n    \"summary\": {\"type\": \"string\"},\n    \"additional_comments\": {\"type\": \"string\"},\n    \"sections\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"code\": {\"type\": \"string\"},\n          \"title\": {\"type\": \"string\"},\n          \"order\": {\"type\": \"number\"},\n          \"fields\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"key\": {\"type\": \"string\"},\n                \"label\": {\"type\": \"string\"},\n                \"type\": {\"type\": \"string\"},\n                \"value\": {\"type\": \"string\"}\n              },\n              \"required\": [\"key\", \"value\"]\n            }\n          }\n        },\n        \"required\": [\"code\", \"title\", \"fields\"]\n      }\n    }\n  },\n  \"required\": [\"outcome\", \"sections\"]\n}",
        "autoFix": true
      },
      "id": "fb91f410-d239-4999-abd4-f1a4493a2125",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2256,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.backend_url || $env.BACKEND_URL || 'http://localhost:5000') + '/api/inspection-requests/' + $json.requestId + '/report' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjI0LCJyb2xlIjoiQUxBUkEiLCJzZXJ2aWNlIjp0cnVlLCJsYWJlbCI6Im44biIsImlhdCI6MTc3MDc0NjIxM30.R0A806ZOHJ3g969f_mpSsOpD_GAixRzBX1615w4He3I' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "921552c4-a94d-40c9-a4a8-ff666dbfb7a9",
      "name": "HTTP Request - Save Report1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2512,
        896
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/call/recording",
        "options": {}
      },
      "id": "d94410f4-9e86-4c0d-a9d7-46c74cee5b4e",
      "name": "Webhook - Call Recording1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1568,
        1216
      ],
      "webhookId": "call-recording-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.query?.backend_url || $json.backend_url || $env.BACKEND_URL || 'http://localhost:5000') + '/api/webhooks/twilio/recording' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "inspection_request_id",
              "value": "={{ $json.query?.inspection_request_id || $json.inspection_request_id || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "5d19761c-5f3e-43f3-988b-6fa55096ff8b",
      "name": "HTTP Request - Save Recording1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        1216
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/call/start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1c870439-5b8e-4378-96ac-e980f9ef7ad4",
      "name": "Webhook - Call Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1568,
        560
      ],
      "webhookId": "6528518f-7aa8-4b5f-a12a-c7566b290a09"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Call Transcription1": {
      "main": [
        [
          {
            "node": "Set Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context1": {
      "main": [
        [
          {
            "node": "AI Agent - Extract Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Extract Report1": {
      "main": [
        [
          {
            "node": "HTTP Request - Save Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Extract Report1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Extract Report1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Recording1": {
      "main": [
        [
          {
            "node": "HTTP Request - Save Recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Start": {
      "main": [
        [
          {
            "node": "Twilio - Create Call1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "51b44c81-c186-477b-9008-fbb0886097f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f9ba910a29f5e215a4b4a694ee3408825b7b8212157cd2e725d3dcd110c61dc"
  },
  "id": "8qOv_xiO6MRGDht30GhD9",
  "tags": []
}